body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    background-color: #f4f4f4; 
    padding: 20px; 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: justify; 
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 10px; 
    max-width: 600px; 
    max-height: 80vh; 
    overflow-y: auto; 
}  

.perfil {
    text-align: center; 
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; 
}

#foto-perfil {
    max-width: 150px; 
    max-height: 150px; 
    border-radius: 10%; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
}

#removeButton{
    margin-top: 10px;
}

.seccion {
    margin-top: 20px; 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #ffffff; 
}

.seccion h2 {
    margin-bottom: 10px;
    color: #333; 
    font-size: 1.5em; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; 
    border-bottom: 1px solid #e0e0e0; 
}

li:last-child {
    border-bottom: none; 
}

button {
    margin-left: 10px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
}

button:hover {
    background-color: #1e74d0; /* Color de fondo al pasar el mouse */
}
