body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenedor en la parte superior */
    height: 100vh;
    background-color: #f4f4f4; 
    padding: 20px; /* Espacio alrededor del contenedor */
}

.container {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: justify; 
    background-color: #ffffff; 
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; 
    max-width: 700px; 
    max-height: 80vh; 
    overflow-y: auto; /* Desplzamiento vertical automático*/
    overflow-x: hidden; /* Sin desplazamiento horizontal */
}  

.profile {
    text-align: center; /* Centra la imagen y el texto alternativo */
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio entre el perfil y las secciones */
}

#foto-perfil {
    max-width: 150px; 
    max-height: 150px; 
    border-radius: 10%; 
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

#elimFoto{
    margin-top: 10px;
}

.section {
    margin-top: 20px; /* Espacio entre secciones */
    width: 100%; 
    padding: 10px; /* Espaciado interno */
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #ffffff; 
}

.section h2 {
    margin-bottom: 10px;
    color: #333; 
    font-size: 1.5em; /* Tamaño de fuente más grande para los encabezados */
}

ul {
    list-style-type: none; /* Sin puntos */
    padding: 0; 
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; /* Espaciado entre elementos de la lista */
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria entre elementos */
}

li:last-child {
    border-bottom: none; /* Elimina la línea divisoria del último elemento */
}

button {
    margin-left: 10px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer; 
}

button:hover {
    background-color: #1e74d0; 
}
